html, body {
    scroll-behavior: smooth;
    margin: 0; 
    padding: 0;
}


.background{
    min-height: 105vh;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 100%;
}

.background::before {
    content: '';
    background-image: url(../DeveloperPortfolioV1/images/northern\ lights.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

a {
    color: white;
    text-decoration: none;
    margin: auto;
    border-radius: 8px;
    font-size: 25px;
    font-family: cursive;
    position: relative;
}

#navbar {
    display: grid;
    row-gap: 4px;
    grid-template-columns: repeat(4, 1fr);
    background-color: #040313;
    padding: 0px;
    margin: 0px;
    position: sticky;
    top: 0;
    z-index: 9999;
    max-width: 100%;
}

#navbar a:hover {
    background-color: #d40f0f;
    position: relative;
}

h1 { 
    text-align:center;
    font-size: 55px;
    color: white;
    position: relative;
    font-family: cursive;
    font-style: italic;
    margin: auto;
    text-shadow: 4px 4px #cf0909;
}

h2 { 
    font-size: 104px;
    color: white;
    position: relative;
    text-align: center;
    font-family: cursive;
    font-style: italic;
    max-width: 100%;
    margin: auto;
    text-shadow: 4px 4px #cf0909;
}

main {
    background-color: rgba(195, 251, 251, 0.356);
    display: flex;
    
}

img{
    margin: 4rem;
}

p {
    color: black;
    font-size: 30px;
    font-family: cursive;
    font-style: italic;
    max-width: 100%;
    min-height: 675px;
    margin: 4rem;
    
}

div {
    background-color: rgba(195, 251, 251, 0.356);
}

.one {
    font-size: 30px;
    display: inline-block;
    width: 375px;
    height: 225px;
    border: 5px solid #000;
    color: black;
    list-style-type: none;
    text-align: center;
}

.two {font-size: 30px;
    display: inline-block;
    width: 375px;
    height: 225px;
    border: 5px solid #000;
    color: black;
    list-style-type: none;
    text-align: center;
}

.three {
    font-size: 30px;
    display: inline-block;
    width: 375px;
    height: 225px;
    border: 5px solid #000;
    color: black;
    list-style-type: none;
    text-align: center;
}

.four {
    font-size: 30px;
    display: inline-block;
    width: 375px;
    height: 225px;
    border: 5px solid #000;
    color: black;
    list-style-type: none;
    text-align: center;
}