html, body {
    scroll-behavior: smooth;
    margin: 0; 
    padding: 0;
} /* styling for full website */


.background{
    min-height: 105vh;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 100%;
}

.background::before {
    content: '';
    background-image: url(../DeveloperPortfolioV1/images/northern\ lights.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}/* both backgrounds are for styling the image and the home page layout */


a {
    color: white;
    text-decoration: none;
    margin: auto;
    border-radius: 8px;
    font-size: 25px;
    font-family: cursive;
    position: relative;
}/* this is styling the four sections in my navbar Home,Bio,Projects,and contact */


#navbar {
    display: grid;
    row-gap: 4px;
    grid-template-columns: repeat(4, 1fr);
    background-color: #040313;
    padding: 0px;
    margin: 0px;
    position: sticky;
    top: 0;
    z-index: 9999;
    max-width: 100%;
}

#navbar a:hover {
    background-color: #d40f0f;
    position: relative;
}/* the two navbar are for styling my navbar allowing the navbar to become sticky and also allows each section to change color when hovered over it */


h1 { 
    text-align:center;
    font-size: 55px;
    color: white;
    position: relative;
    font-family: cursive;
    font-style: italic;
    margin: auto;
    text-shadow: 4px 4px #cf0909;
}

h2 { 
    font-size: 104px;
    color: white;
    position: relative;
    text-align: center;
    font-family: cursive;
    font-style: italic;
    max-width: 100%;
    margin: auto;
    text-shadow: 4px 4px #cf0909;
}/*  h1 and h2 are styling my two lines of text in the home page */


main {
    background-color: rgba(195, 251, 251, 0.356);
    display: flex;
    
} /* This is styling my background color in my bio section */

img{
    margin: 4rem;
}/* This is styling the picture of myself to give it a little more space between my home page and bio section */


p {
    color: black;
    font-size: 30px;
    font-family: cursive;
    font-style: italic;
    max-width: 100%;
    min-height: 675px;
    margin: 4rem;
    
}/* This is styling for the text in my bio section */


/* Styling for Project section */
#Project {
    background-color: rgba(128, 204, 204, 0.356);
    display: flex;
    flex-direction: column;
    font-size: 30px;
    
}


.one, .two, .three {
    font-size: 30px;
    width: 295px;
    height: 255px;
    border: 5px solid #000;
    color: white;
    text-align: center;
    margin: 50px;
    background-color: #111010;
}

.one{
    display: flex;
}
.two {
    display: flex;
    color: black;
    text-align: center;
    margin: auto;
}

.three {
    display: inline-block;
    color: black;
    text-align: center;
    margin: 50px;
}

